#nav li{
	float:left;
	list-style:none;
	margin-right:5px;
}
  
#nav a{
	padding:10px;
	text-decoration:none;
	background-color:#00B3FF;
	color:white;
}
 
#menu:hover #dropDown{
	display:block;
}

#dropDown a{
	display:block;
}
  
#dropDown{
	display:none;
	overflow-x: hidden;
	overflow-y: hidden; 
}